body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('img/bg.jpg'); /* Замініть на ваш шлях до картинки */
    background-repeat: no-repeat; /* Заборона повторення картинки */
    background-size: cover; /* Масштабування до розмірів екрану */
    background-position: center; /* Центрування картинки */
    margin: 0;
    padding: 0;
    height: 100vh; /* Висота вікна браузера */
    display: flex;
    align-items: center;
    justify-content: center;
}


.game-container {
    background-color: #f0f8ff;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Непрозорий фон */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тінь для форми */
    backdrop-filter: blur(10px); /* Ефект розмиття заднього фону */
}

h1, h2, p {
    color: #333;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.player {
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#result, #finalWinner {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
